.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #535bf2;
    border-radius: 8px;
    background-color: #1f1940;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(36, 36, 36, 0.7);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #535bf2;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.closeButton:hover {
    background-color: #444cf7;
}

.closeIcon {
    color: white;
    font-size: 1.2rem;
}

.modalImg {
    margin-top: 35px;
    border-radius: 8px;
    max-height: 70vh;
    max-width: 70vw;
    display: block;
}

.modalText {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
    color: #fff;
}